:root {
  --RATIO: 1.62;
  --RATIO_ONE: 0.1rem;
  --RATIO_TWO: 0.3rem;
  --RATIO_THREE: 0.5rem;
  --RATIO_FOUR: 0.7rem;
  --RATIO_FIVE: 0.9rem;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Didot';
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(221, 225, 228);
  box-sizing: content-box !important;
}

#root {
  height: 100%;
  width: 100%;
}

a,
a:active,
a:visited,
a:hover {
  color: #000000;
  text-decoration: none;
}
