@import './css/variables.scss';

:root {
  --RATIO: 1.62;
  --RATIO_ONE: 0.1rem;
  --RATIO_TWO: 0.3rem;
  --RATIO_THREE: 0.5rem;
  --RATIO_FOUR: 0.7rem;
  --RATIO_FIVE: 0.9rem;
  font-size: 11px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

body {
  margin: 0;

  // margin: $root-margin;
  height: 100%;
  font-family: 'Libre Baskerville';
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(221, 225, 228);
  box-sizing: border-box !important;
}

#root {
  height: 100%;
  width: 100%;
  // padding: $root-margin;
  overflow: auto;
  /* padding: 16.18px; */
  box-sizing: border-box !important;
  display: inline-flex;
  justify-content: center;
}

a,
a:active,
a:visited,
a:hover {
  color: #000000;
  text-decoration: none;
}
