# Logs
logs
*.log
npm-debug.log*

# VS code settings
.vscode

# Amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*

# Dependencies
node_modules

# Eslint cache
.eslintcache

# Environment variables
.env

# production
build
dist

# Mac OS file
.DS_Store