# Logs
logs
*.log
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# VS code settings
.vscode

# Firebase cache
.firebase/

# Firebase config
millap/server/firebase/functions/config
millap/server/firebase/functions/typings
millap/server/firebase/functions/**/*.js
millap/server/firebase/functions/**/*.js.map
.firebaserc
firestore.rules
millap/server/firebase/functions/lib

# Dependencies
node_modules

# Eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
docs

# production
build
dist

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig

# Mac OS file
.DS_Store