@import './_helpers.scss';

.container {
  display: grid;
  grid-template-columns: var(--columns);
  width: var(--width);
  column-gap: var(--gap, 1rem);

  @include media('tablet-and-up') {
    grid-template-columns: var(--columns-tablet-and-up);
    column-gap: var(--gap-tablet-and-up, 1rem);
  }
}
