@import './_helpers.scss';

$main-title-height: 4.5rem;
$fixed-col-width: 1.875rem;

.container {
  position: sticky;
  top: 0;
  z-index: 1;

  @include media('tablet-only') {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: $main-title-height;
    background: var(--bg);
  }

  @include media('tablet-and-up') {
    display: flex;
    flex-shrink: 0;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

.title-container {
  transform: translate(var(--translate-x), var(--translate-y, 0));
  transition: transform 250ms cubic-bezier(0.66, 0.29, 0.48, 0.78);
  width: fit-content;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;

  @include media('tablet-and-up') {
    margin: $spacing-mobile 0 0 $spacing-mobile;
  }
}

.title-container a,
.title {
  position: relative;
}

.is-index-page {
  --translate-x: 10vw;
  --translate-y: calc(50vh - 100%);
  --size: unset;
  position: absolute;
  width: 100%;

  @include media('tablet-only') {
    --translate-x: -#{$fixed-col-width};
  }

  .title-container {
    margin: 0;
    mix-blend-mode: difference;

    h5 {
      text-shadow: -0.875rem 0.5rem 1rem #00ffda;
      font-size: $h1-size-desktop;

      @include media('tablet-only') {
        font-size: $h1-size-mobile + 0.5rem;
      }
    }
  }

  .title {
    @supports (mix-blend-mode: difference) {
      color: #f2f2f2;
    }
  }
}

.title {
  margin: 0;
  width: fit-content;
  text-align: center;
}

.subtitle {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  height: 0;
  width: 0;

  @include fade-hidden(
    150ms,
    ease-in,
    'width 250ms ease-in, height 250ms ease-in'
  );

  @supports (mix-blend-mode: difference) {
    color: #969696;
  }
}

.subtitle {
  @include fade-visible(
    150ms,
    ease-in,
    'width 250ms ease-in, height 250ms ease-in'
  );
  opacity: calc(var(--translate-x, 0) * 100);
  height: var(--size, unset);
  width: var(--size, unset);
}

.menu-button {
  height: 100%;
  width: $spacing-mobile * 2 + 1rem;

  svg {
    height: 2rem;
    width: 2rem;
  }

  @include media('tablet-and-up') {
    display: none;
  }
}
