@import './_helpers.scss';

.container {
  width: 100%;
  margin: unset;
  overflow: hidden;
  margin-bottom: var(--gap, 0);
  position: relative;
  background: var(--color-placeholder, transparent);
  grid-row-end: var(--grid-row-end);

  @include media('tablet-and-up') {
    margin-bottom: var(--gap-tablet-and-up, 0);
  }

  @supports (aspect-ratio: 1) {
    aspect-ratio: var(--aspect-ratio);
  }
}

.content {
  width: inherit;
  height: 100%;
  object-fit: contain;

  @supports (aspect-ratio: 1) {
    object-fit: cover;
    display: block;
  }
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
