.container {
  &:active,
  &:focus {
    padding: 1rem;
    background: $grey;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &:not(:active):not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
