@import '_variables.scss';

$padding: $ratio-five * 3;
$spacing: $ratio * 5rem;

.about-wrapper {
  box-sizing: border-box;
  justify-content: flex-start;
  position: relative;
  top: 5vh;
  color: rgb(10, 20, 10);
  // position: relative;
  // padding: $padding;
  // & > .container:not(:first-of-type) {
  //   margin: 0.2rem;
  //   width: 60%;
  //   margin-top: 0;
  // }
  // & > .container:first-of-type {
  //   margin-top: 0;
  //   position: relative;
  // }
  & > div {
    height: min-content;
    justify-content: center;
  }
  & > div > div {
    display: flex;
    flex-direction: row;
    height: fit-content;
    min-width: 20rem;
    width: 100%;
    max-width: 35rem;
    box-sizing: border-box;
  }
  .text {
    display: flex;
    flex-direction: column;
    line-height: calc(#{$ratio-two} * 5);
    align-items: flex-start;
    height: fit-content;
  }
  div + .h6,
  div > .h6 {
    & > * {
      margin-top: $padding !important;
    }
  }
  .email-container {
    align-items: center;
    height: 4rem;
    justify-content: flex-start;
    .film-noise {
      a {
        z-index: 1;
        width: inherit;
        width: inherit;
        position: relative;
        padding: 0.2rem;
      }
    }
    .inner-film-noise {
      z-index: -1;
      position: absolute;
      padding: 0.2rem;
      border-radius: 0.1rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .about.container {
    max-width: 750px;
  }
}

@media screen and (min-width: 641px) {
  .about.container {
    width: 80%;
    flex-direction: row !important;
    & > .container:not(:first-of-type) {
      transform: translate(-$spacing, $spacing * 2);
    }
  }
}
