.container {
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.absolute {
  position: absolute;
}

.dark,
.light {
  width: inherit;
  height: inherit;
  position: relative;
}

.dark:after,
.light:after {
  animation: noise 8s steps(10) infinite;
  content: '';
  height: 300%;
  left: -50%;
  position: absolute;
  top: -110%;
  width: 300%;
}

.dark:after {
  opacity: 1;
  background-image: url('./broken_noise.png');
  /* Background pattern from Toptal Subtle Patterns */
}

.light::after {
  opacity: 1;
  background-image: url('./broken_noise-inv-1.jpg');
  /* Background pattern from Toptal Subtle Patterns */
}

@keyframes noise {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
