.innerContainer {
  max-width: 80vw;
  flex-wrap: wrap;
  overflow-x: hidden;
  align-items: center;
}

.innerContainer img {
  height: auto;
  width: 10.1rem;
}

.outerContainer {
  height: fit-content;
}

.image {
  height: auto;
}

.shrink {
  animation: flexShrink 500ms ease forwards;
}

.grow {
  animation: flexGrow 500ms ease forwards;
}

@media (max-width: 641px) {
  .innerContainer {
    max-width: 31.25rem;
  }
}

@media (max-width: 800px) {
  .innerContainer {
    max-width: 30rem;
  }
}

@keyframes flexGrow {
  to {
    flex: 1;
  }
}
@keyframes flexShrink {
  to {
    flex: 0.01;
    flex: 0.00001;
  }
}
