@import '_variables.scss';

.image-grid.inner-container {
  max-width: 80vw;
  flex-wrap: wrap;
  overflow-x: hidden;
  box-sizing: border-box !important;
  padding: $ratio-five;
  align-items: center;
}

.image-grid.inner-container img {
  height: auto;
  width: 10.1rem;
}

.outerContainer {
  height: fit-content;
}

.image-grid.image {
  height: auto;
}

.shrink {
  animation: flexShrink 500ms ease forwards;
}

.grow {
  animation: flexGrow 500ms ease forwards;
}

.syster {
}

@media (max-width: 641px) {
  .innerContainer {
    max-width: 31.25rem;
  }
}

@media (max-width: 800px) {
  .innerContainer {
    max-width: 30rem;
  }
}

@keyframes flexGrow {
  to {
    flex: 1;
  }
}
@keyframes flexShrink {
  to {
    flex: 0.01;
    flex: 0.00001;
  }
}
