$base-text-size: 15px;
$ratio: 1.33;

:root {
  --ratio: #{$ratio};
  --ratio-with-unit: #{$ratio}px;
  --RATIO_ONE: 0.1rem;
  --RATIO_TWO: 0.3rem;
  --RATIO_THREE: 0.5rem;
  --RATIO_FOUR: 0.7rem;
  --RATIO_FIVE: 0.9rem;
  --main-background: rgb(233, 231, 230);
  --heading-font-family: Zen Antique, Lucida Bright, Georgia, serif;
  --text-font-family: Chivo, Calibri, Candara, Segoe, Segoe UI, Optima, Arial,
    sans-serif;
}

@function _pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

.visually-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.page-enter {
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  transform: scale(1);
}

.page-enter-active {
  max-height: 100vh;
  opacity: 1;
  overflow: hidden !important;
  height: 500px;
  transform: scale(1);
  transition: all 300ms, transform 300ms;
}

.spinner {
  &::after {
    content: '';
    display: block;
    height: 300%;
    left: -100%;
    position: absolute;
    top: -110%;
    width: 300%;
    z-index: 2;
    animation: move 5s steps(10) infinite;
    opacity: 0.2;
    background: rgb(240, 240, 240) url('./noise2.png');
  }
}

$percentages: (
  '-5%': '-10%',
  '-15%': '5%',
  '7%': '-25%',
  '-4%': '25%',
  '-14%': '10%',
  '15%': '0%',
  '0%': '15%',
  '3%': '35%',
  '-10%': '10%',
);

@keyframes move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  @each $x, $y in $percentages {
    $i: index(map-keys($percentages), $x);
    #{$i}0% {
      transform: translate(#{$x}, #{$y});
    }
  }
}

.page-exit {
  max-height: 100vh;
  opacity: 1;
  overflow: hidden !important;
  transform: scale(1);
}

.page-exit-active {
  max-height: 100vh;
  opacity: 0;
  transform: scale(0.9);
  transition: all 300ms, transform 300ms;
}

svg {
  .first {
    stroke: rgb(0, 0, 0);
    fill: none;
    stroke-dasharray: 420;
    stroke-dashoffset: -420px;
    animation: 10s test steps(40, end) infinite reverse forwards 10s;
    // animation: 2s ease-in steps(2, end) infinite reverse forwards test;
  }
  .second {
    stroke: rgb(0, 0, 0);
    fill: none;
    stroke-linejoin: round;
    stroke-dasharray: 348;
    stroke-dashoffset: -172px;
    animation: 10s test steps(40, end) infinite reverse forwards 10s;
  }
}

.force-gpu {
  transform: translateZ(0);
  backface-visibility: hidden;
}

@keyframes test {
  0% {
    stroke-dashoffset: -420px;
  }
  10%,
  80% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 420px;
  }
}

.content {
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 7rem;
}

#title-text {
  position: fixed;
}

.svg-title-text {
  position: fixed;
  z-index: 5;
  transform: rotate(-90deg);
  transform-origin: left;
  left: 9rem;
  height: 30rem;
  width: 60rem;
  z-index: 1;
  top: min(28rem, 30rem);
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: opacity 300ms ease 100ms;
}

@media screen and (min-width: 702px) {
  .content {
    height: unset;
    top: unset;
    position: relative;
  }
  .svg-title-text {
    opacity: 1;
  }
  #root {
    flex-direction: row !important;
  }
}
@media screen and (min-width: 701px) {
  .svg-title-text {
    visibility: visible;
  }
}
