@import '_variables.scss';

$portrait-width: $ratio-five * 38;

.content.container {
  & .project {
    & > * {
      max-width: 1200px;
      margin: 5vmin 0;
    }
    max-width: 100vw;
    display: flex;
    align-items: center;
  }
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
  padding-bottom: 5rem;

  .title-text svg {
    position: fixed;
    left: 0;
  }
  .svg-title-text {
    position: fixed;
    z-index: 5;
    transform: rotate(-90deg);
    transform-origin: left;
    left: 8.9rem;
    height: 30rem;
    width: 60rem;
    z-index: 1;
    top: 30%;
    overflow: hidden;
    & g {
    }
  }
}
