.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.main {
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  transition: margin 700ms;
  flex-wrap: nowrap;
  max-width: unset;
  padding: 16px;
  width: 100%;
}

.imageCard {
  height: 100%;
  margin: 0 auto;
}

.imageCard img {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px -2px #999;
}

.ett-frammande-motiv {
}

@media screen and (max-width: 641px) {
  .imageCard {
    max-width: 640px;
    height: auto;
  }
}
