.responsive-grid {
  max-width: 1000px;
  a {
    overflow: hidden;
    transition: opacity 200ms ease-in-out;
    &:hover {
      .responsive-image-hover {
        opacity: 1;
      }
    }
  }
  img {
    border-radius: 0.3rem;
  }
}
