$spacing-xs: 0.5rem;
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 4rem;
$spacing-xl: 8rem;
$spacing-xxl: 16rem;

// ---------- POSITIONING ----------

.fl-row {
  display: flex;
  flex-direction: row !important;
}

.fl-col {
  display: flex;
  flex-direction: column !important;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.grow-full {
  flex-grow: 1;
}

.grow-none {
  flex-grow: 0.0001;
}

.grid {
  display: grid;
}

// ---------- DIMENSIONS ----------

.grid-portrait img {
  min-height: 100%;
  max-width: 100%;
}

.grid-landscape img {
  max-height: 100%;
  min-width: 100%;
}

.h-fit {
  height: fit-content !important;
}

.w-fit {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.h-hundred {
  height: 100%;
}

// ---------- LAYOUT ----------

.flow-show {
  overflow: visible;
}

.flow-hide {
  overflow: hidden;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

// ---------- SPACING ----------

.p-s {
  padding: $spacing-s;
}
.p-m {
  padding: $spacing-m;
}
.p-l {
  padding: $spacing-l;
}
.p-xl {
  padding: $spacing-xl;
}
.p-xxl {
  padding: $spacing-xxl;
}
